#java
*.class

#package file
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#maven ignore
lib/
target/
build/

#eclipse ignore
.settings/
.project
.classpath

#Intellij idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db